body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

.row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-left: 0;
    margin-right: 0;
}

.graphContainer {
    background-color: #e9e5f0;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    padding: 20px;
    width: 30%;
    border: 1px solid #cccccc;
}

select {
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

h2 {
    color: #333;
    margin-bottom: 10px;
}
.graphGridClass {
    width: 100%;
    height: 250px !important;
}
