body {
 background-color: #f0f0f0;
 font-family: Arial, sans-serif;
}

.row {
 display: flex;
 justify-content: space-between;
 margin-bottom: 20px;
 margin-left: 0;
 margin-right: 0;
}

.graphContainer {
 width: 30%;
 background-color: #fff;
 border-radius: 5px;
 padding: 20px;
 box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

select {
 padding: 5px 10px;
 border-radius: 5px;
 border: 1px solid #ccc;
}

h2 {
 color: #333;
 margin-bottom: 10px;
}